body{
    font-family: Arial, sans-serif; padding: 20px;
    margin:5px 1px;
    padding:0px;
}
nav{
    display:flex;
    flex-flow:row nowrap;
    background-color: black;
    width:97%;
    height:40px;
    border:0px solid antiquewhite;
    border-radius:3px;
    margin:0px;
    padding:20px;
    justify-content:space-around;
    box-shadow:1px 2px 4px black;
}
nav:hover{
    transform: translateY(4px);
    transition:0.5s;
    box-shadow:1px 1px 4px black;
}
nav button{
    background-color:black;
    width:90px;
    height:40px;
    border:0px solid black;
    transition:0.5s;
}
a{
    text-decoration:none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
    color:white;
}
a:hover{
    font-size:15px;
    text-decoration:underline;
    text-shadow:1px 2px 5px white;
}
nav button:hover{
    transform:translateY(4px);
    transition:0.6s;
}
nav button:active{
    animation:btu;
    animation-duration:1s;
}
@keyframes btu{
    0%{
        width:0px;
        height:40px;
    }
   100%{
    background-color:red;
    height:40px;
    width:90px;
    border-radius:3px;
    }
}
header{
  display:flex;
  flex-flow: column;
  justify-content:center;
  align-items:center;
  background-color: cornflowerblue;
  height:120px;
  width:100%;
}
    input, select { margin: 5px 0; padding:8px; width: 300px; }
    input:focus, select:focus { border:2px solid lightcoral; outline: none; border-radius:3px; box-shadow:1px 1px 3px lightcoral;}
    header button{
        background-color:crimson;
        height:44px;
        width:130px;
        border:1px solid crimson;
        box-shadow: 1px 2px 4px crimson;
        text-align: center;
        border-radius:0px;
    }
    header button:hover{
      transform:translateY(14px);
      transition:0.3s;
      height:46px;
      width:135px;
    }
    header button:active{
      background-color: lightseagreen;
      box-shadow:1px 2px 4px lightseagreen;
      border:1px solid lightseagreen;
    }
    #submitEvent:active,#closeForm:active{
      background-color:orangered;

    }
    select{
      width:319px;
      margin-left:13px;
    }
    #eventForm {
      border: 1px solid lightcoral;
      background-color:lightcoral;
      box-shadow:1px 2px 4px lightcoral;
      padding: 15px 20px 0px 20px; margin: 20px 10px 10px 20px; width: 350px; display: none;margin-left:36%;}
    #eventContainer { display: grid; grid-template-columns: repeat(2, 1fr); gap: 20px; margin-top: 20px;}
    .event-item { border: 1px solid #ccc; padding: 10px; position: relative; }
    .event-item img { max-width: 100%; height: auto; display: block; margin-bottom: 10px; }
    .event-buttons { margin-top: 10px; }
    .hidden { display: none; }
    #eventForm:hover{
      background-color:lightseagreen;
      transform:translateY(10px) scale(1.1);
      transition:0.5s;
      box-shadow:1px 2px 4px lightseagreen;
      border: 1px solid lightseagreen;
      
    }
    input{
      margin:0px 0px 10px 14px;
    }
    input:hover{
       transform:translate(3px,3px);
       transition:0.3s;
    }
   button{
      width:220px;
      height:50px;
      text-align: center;
      border-radius:3px;
      border:1px solid black;
      background-color: black;
      box-shadow:1px 2px 3px black;
      color: white;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    } #eventForm button:hover,.event-item button{
       transform:translateY(2px);
       width:225px;
    }
    .btu{
       display:flex;
       flex-flow:column nowrap;
       height:230px;
       justify-content: space-between;
       align-items:center;
       margin-left:-13px;
    }
    .filter{
      margin-top:13px;
    }
    