body{
    margin:5px 1px;
    padding:0px;
}
nav{
    display:flex;
    flex-flow:row nowrap;
    background-color: black;
    width:97%;
    height:40px;
    border:0px solid antiquewhite;
    border-radius:3px;
    margin:0px;
    padding:20px;
    justify-content:space-around;
    box-shadow:1px 2px 4px black;
}
nav:hover{
    transform: translateY(4px);
    transition:0.5s;
    box-shadow:1px 1px 4px black;
}
nav button{
    background-color:black;
    width:90px;
    height:40px;
    border:0px solid black;
    transition:0.5s;
}
a{
    text-decoration:none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
    color:white;
}
a:hover{
    font-size:15px;
    text-decoration:underline;
    text-shadow:1px 2px 5px white;
}
nav button:hover{
    transform:translateY(4px);
    transition:0.6s;
}
nav button:active{
    animation:btu;
    animation-duration:1s;
}
@keyframes btu{
    0%{
        width:0px;
        height:40px;
    }
   100%{
    background-color:red;
    height:40px;
    width:90px;
    border-radius:3px;
    }
}
.section1,.section2{
   display:flex;
   flex-flow:column nowrap;
   align-items:center;
}
header h1,section h1{
     text-transform: capitalize;
    font-family:fantasy;
    letter-spacing:1.5px;
    font-weight:300;
    font-size:30px;
    margin-left:3px;

}
header p,li,section p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:15px;
    letter-spacing:1px;
    text-transform: capitalize;
}
li{
    margin-bottom:5px;
}
header p{
    display: flex;
    justify-content:space-around;
    padding:10px 12px 10px 14px;
    line-height:21px;
}
.section3 p{
      margin:0px 10px 12px 13px;
}
.section4{
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items: center;
    background-color: cornflowerblue;
}
.section4:hover{
    box-shadow:1px 2px 4px cornflowerblue;
}
svg{
    margin-right:2px;
    height:25px;
    width:30px;
}
pre address{
    font-size:14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height:20px;
}
pre svg{
    height:15px;
    width:15px;
}
pre address{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   display:flex;
   flex-flow:row nowrap;
   padding:10px;
}

.addsec1{
    border-right:2px solid black;
    padding-right:10px;
}
.addsec2{
    padding:0px 10px;
    margin-left:5px;
}
